<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.demo.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="Address">
        <constructor>
            <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long"/>
            <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="county" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte"/>
        </constructor>
    </resultMap>

    <insert id="insert" parameterType="Address">
        INSERT INTO address(province, city, county)
        VALUES (#{province, jdbcType=VARCHAR},
                #{city, jdbcType=VARCHAR},
                #{county, jdbcType=VARCHAR})
    </insert>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT id, province, city, county, create_time, update_time, status
        FROM address
        WHERE id = #{id, jdbcType=BIGINT} AND status = 1
    </select>

</mapper>